<header>
    <nav>
        <ul class="nav-list">
            <li class="nav-item"><a href="#hero" class="nav-links">Inicio</a></li>
            <li class="nav-item"><a href="#about" class="nav-links">Sobre mí</a></li>
            <li class="nav-item"><a href="#skills" class="nav-links">Habilidades</a></li>
            <li class="nav-item"><a href="#projects" class="nav-links">Proyectos</a></li>
            <li class="nav-item"><a href="#contact" class="nav-links">Contactos</a></li>
        </ul>
    </nav>
</header>